$main-color: #88a1bf;

h1 {
  color: $main-color;
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 70px 0;
}

.chatbar {
  background: $main-color;
  border-top: 1px solid black;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  border-radius: 2px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.disabled-state {
  opacity: .9;
  border-color: red;
}

.chatbar-message {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.chatbar-username {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.message-username {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-weight: 700;
}

.navbar {
  background: $main-color;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  font-family: 'Rozha One', serif;
  color: #eee;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}